body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 15px;
  background-color: #bd00f7;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.app h1 {
  text-align: center;
  color: #ffb20a;
  margin-bottom: 30px;
  font-size: 3rem;
}